* {
 margin: 0;
}

.auth {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 100px;
}

.auth > img {
 object-fit: contain;
 height: 60px;
}

.auth-header {
 margin-top: 50px;
 font-size: 40px;
 font-weight: bold;
 margin-bottom: 50px;
}

.auth-input {
 width: 300px;
}

input:focus + label {
 color: #0066ff;
}

.auth-btn {
 font-weight: bold;
 margin-top: 5px;
}