* {
 margin: 0;
}

.auth {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 100px;
}

.auth > img {
 object-fit: contain;
 height: 60px;
}

.auth-header {
 margin-top: 50px;
 font-size: 40px;
 font-weight: bold;
 margin-bottom: 50px;
}

.auth-input {
 width: 300px;
}

label {
 opacity: 0.7;
}

input:focus + label {
 color: #009dff;
}

.auth-btn {
 font-weight: bold;
 margin-top: 5px;
}

.auth-link-container {
 display: flex;
 gap: 10px;
 margin-top: 20px;
}

.account-question {
 color: gray;
}

.auth-link {
 color: #2bc2f4;
 text-decoration: none;
}

.auth-link:hover {
 color: #2bc2f4;
 text-decoration: underline;
}

.username-container {
 display: flex;
 align-items: center;
}

.username-at {
 border: none;
 background-color: rgb(229, 229, 229);
 padding: 0px 15px 0px 15px;
 font-size: 40px;
 font-weight: bold;
 height: 58px;
}