* {
 margin: 0;
}

.auth {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 100px;
}

.auth > img {
 object-fit: contain;
 height: 60px;
}

.auth-header {
 margin-top: 50px;
 font-size: 40px;
 font-weight: bold;
 margin-bottom: 50px;
}

.auth-input {
 width: 300px;
}

label {
 opacity: 0.7;
}

input:focus + label {
 color: #009dff;
}

.auth-btn {
 font-weight: bold;
 margin-top: 5px;
}

.auth-link-container {
 display: flex;
 gap: 10px;
 margin-top: 20px;
}

.account-question {
 color: gray;
}

.auth-link {
 color: #2bc2f4;
 text-decoration: none;
}

.auth-link:hover {
 color: #2bc2f4;
 text-decoration: underline;
}

.img-container {
 display: flex;
 align-items: center;
 gap: 20px;
}

.img-container-header {
 font-size: 23px;
 font-weight: 450;
 margin-top: 25px;
 margin-bottom: 15px;
}

.auth-img-input {
 margin-top: 10px;
 width: 110px;
 color: #00000000;
}

.username-container {
 display: flex;
 align-items: center;
 margin-top: 15px;
}

.username-at {
 border: none;
 background-color: rgb(229, 229, 229);
 padding: 0px 15px 0px 15px;
 font-size: 40px;
 font-weight: bold;
 height: 58px;
}

.register-btns-container {
 display: flex;
 gap: 20px;
 margin-top: 60px;
}

@media screen and (max-width: 425px) {
 .auth {
  margin-top: 30px;
 }

 .auth-header {
  font-size: 30px;
 }

 .auth-input {
  width: 250px;
 }

 .username-container {
  margin-top: 0px;
 }

 .img-container-header {
  margin-top: 5px;
 }

 .register-btns-container {
  margin-top: 20px;
 }
}