.feed {
 flex: 0.6;
 margin-left: 60px;
 width: 100%;
 border-left: 1px solid gray;
 border-right: 1px solid gray;
 padding-right: 10px;
}

.feed-header {
 margin: 13px 0px 25px 22.5px;
}

.feed-input {
 display: flex;
 margin-left: 0px;
 border-bottom: 1px solid gray;
 margin-right: -10px;
}

.feed-input-box {
 color: black;
 border: none;
 flex: 1;
 margin-top: 10px;
 margin-left: 20px;
 font-size: 20px;
 resize: none;
 width: 97.5%;
}

textarea:focus {
 -webkit-box-shadow: none !important;
 -moz-box-shadow: none !important;
 box-shadow: none !important;
}

.feed-input-box::placeholder {
 color: #00000070;
 font-weight: 350;
}

.tweet-btn {
 border-radius: 18px;
 font-weight: bold;
 padding: 5px 15px 5px 15px;
}

.feed-input > Form > button {
 margin-left: 520px;
 margin-bottom: 25px;
}