.feed {
 width: 100%;
 border-left: 1px solid gray;
 border-right: 1px solid gray;
 padding-right: 10px;
}

.feed-header {
 margin: 13px 0px 25px 22.5px;
}

.feed-input {
 display: flex;
 flex-direction: column;
 margin-left: 20px;
}

.feed-input-left {
 display: flex;
}

.feed-input-right {
 display: flex;
 justify-content: flex-end;
 padding-bottom: 15px;
}

.feed-input-box {
 color: black;
 border: none;
 flex: 1;
 margin-top: 10px;
 margin-left: 20px;
 font-size: 20px;
 resize: none;
 width: 97.5%;
}

textarea:focus {
 -webkit-box-shadow: none !important;
 -moz-box-shadow: none !important;
 box-shadow: none !important;
}

.feed-input-box::placeholder {
 color: #00000070;
 font-weight: 350;
}

.tweet-btn {
 border-radius: 18px;
 font-weight: bold;
}

.feed-input > Form > button {
 margin-left: 520px;
}

.feed-border {
 border-top: 1px solid gray;
 margin-right: -10px;
}