.sidebar {
 display: flex;
 flex-direction: column;
 margin-top: 15px;
 margin-left: 115px;
}

.sidebar-profile {
 display: flex;
 gap: 10px;
 margin-top: 10px;
 margin-bottom: 20px;
}

.sidebar-profile-name {
 display: flex;
 flex-direction: column;
}

.sidebar-top > img {
 object-fit: contain;
 height: 40px;
}

.sidebar-option {
 display: flex;
 align-items: center;
 gap: 15px;
 font-family: "Hind", sans-serif;
 font-size: 20px;
 padding: 10px 20px 15px 0px;
}

.sidebar-option:hover {
 background-color: lightgray;
 cursor: pointer;
 border: none;
 border-radius: 16px;
 margin-right: 87%;
 padding-left: 10px;
}