.widgets {
 margin-top: 5px;
 margin-left: 15px;
 margin-right: 55px;
 position: relative;
}

.search-container {
 margin: 0;
}

.search-icon {
 opacity: 0.5;
 margin-top: -70px;
 margin-left: 10px;
 position: sticky;
}

.search {
 border-radius: 16px;
 border: 1px solid #ecebeb;
 background-color: #ecebeb;
 width: 400px;
 padding: 10px 0px 10px 0px;
 position: sticky;
}

.search::placeholder {
 text-align: center;
 margin-right: 150px;
 font-size: 15px;
 font-family: "Roboto", sans-serif;
 opacity: 0.7;
}

.trends-container {
 display: flex;
 flex-direction: column;
 background-color: #ecebeb;
 border-radius: 16px;
 padding: 15px;
 margin-bottom: 20px;
}

.widget-header {
 font-size: 25px;
 font-weight: bolder;
 margin-bottom: 20px;
}

.follow-container {
 display: flex;
 flex-direction: column;
 background-color: #ecebeb;
 border-radius: 16px;
 padding: 15px;
}

.terms-container {
 display: flex;
 flex-direction: column;
 margin-left: 15px;
 margin-top: 15px;
}

.terms-container > p {
 display: flex;
 gap: 10px;
 margin-bottom: 5px;
}

.terms-link,
.twitter-inc {
 color: #000;
 opacity: 0.5;
 font-size: 14px;
 text-decoration: none;
}

.terms-link:hover {
 color: #000;
 text-decoration: underline;
}